html{
    height: 100%;
    width: 100%;
}

body{
    aspect-ratio: 16 / 10;
    width: min(100vw, calc(100vh * (16 / 10)));
    height: min(100vh, calc(100vw * (10 / 16)));
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
}

body div{
    text-align: center;
}

.side-bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 5, 5);
    border: solid white 0.02rem;
}

#left{
    width: 20%;
}

#right{
    width: 30%;
}

#middle{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#middle #top{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
}

#middle #top .team{
    flex: 1;
    height: 100%;
    background-color: gray;
    border: solid white 0.02rem;
    color: white;
    font-size: 2rem;
}

#middle #top .team .bar{
    height: 10%;
    border-top: solid white 0.02rem;
}

#middle #top .team,
#middle #top #turn{
    margin: 0.2rem;
}

#middle #top #turn{
    width: 12rem;
    background-color: #8f8f8f;
    border: solid gray 0.02rem;
    color: rgb(44, 44, 44);
    font-size: 2rem;
}

#middle #cards-space{
    flex:1;
    width: 100%;
}


.side-bar .element{
    margin: 0.1rem;
    border: solid white 0.02rem;
    color: white;
    font-size: 2rem;
}

.card-row{
	height: 18%;
	display: flex;
	flex-direction: row;
}

.card-cell-input-row {
	height: 20%;
	display: flex;
	flex-direction: row;
}

.button-cell {
	position: relative;
	top: -195px;
	width: 15%;
	left: 20%;
	max-width: 50%;
}

h5 {
	position: relative;
	top: -120px;
}

.card-cell{
	width:20%;
	background-color: gray;
	border: solid white 0.02rem;
	text-align: center;
}

#turn-buttons{
	height: 8%;
	display: flex;
	flex-direction: row;
}

#pass-turn{
	flex:1;
	width: 50%;
	background-color: #830000;
	border: solid white 0.02rem;
}

#accept-turn {
	flex:1;
	width: 50%;
	background-color: #00830a;
	border: solid white 0.02rem;
}


.side-bar #list-of-players,
.side-bar #catchword-history{
    flex: 1;
}